body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgba(51, 51, 51, 0); /* Fully transparent initially */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.navbar:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Fully visible on hover */
}

.navbar:hover .nav-menu a {
    color: black; /* Change text color to black on hover */
}


.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #00bcd4;
}

.banner {
    background: url('images/banner-image.jpeg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
    height: 300px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner h1 {
    font-size: 3em;
    margin: 0;
}
