body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgba(51, 51, 51, 0); /* Fully transparent initially */
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between logo and nav menu */
    padding: 0 20px; /* Adjust padding */
    transition: background-color 0.3s ease;
}

.navbar-logo {
    height: 35px;
    transform: scale(4);
    margin-left: 20px; /* Add space to push the logo to the right */
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the nav icons */
    flex-grow: 1; /* Allow nav menu to take up space for centering */
}


.navbar:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Fully visible on hover */
}

.navbar:hover .nav-menu a {
    color: black; /* Change text color to black on hover */
}



.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #00bcd4;
}

.banner {
    background: url('images/banner-image.jpeg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
    height: 300px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner h1 {
    font-size: 3em;
    margin: 0;
}

.footer {
    background-color: #f9f9f9;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border-top: 1px solid #ddd;
    margin-top: 50px;
}

.footer-section {
    font-size: 14px;
}

.footer-section h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section a {
    text-decoration: none;
    color: #555;
}

.footer-section a:hover {
    text-decoration: underline;
}

.subscription-form {
    display: flex;
    flex-direction: column;
}

.subscription-form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.subscription-form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscription-form button:hover {
    background-color: #555;
}


.page {
    display: none;
}

.page h1, .page h2 {
    font-family: 'Arial', sans-serif;
}

p {
    
    font-size: 18px;
    line-height: 1.5;
}


.page.active {
    display: block;
}